<!DOCTYPE html>
<html ng-app="myApp" ng-controller="myCtrl">
  <head>
    <meta charset="utf-8" />
    <title>F</title>
    <link rel="stylesheet" type="text/css" href="css/vendor/foundation.min.css">
  </head>
  <body>
  	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <script src="http://canvasjs.com/assets/script/canvasjs.min.js"></script>
  	<script src="js/vendor/jquery.js"></script>
  	<script src="js/vendor/foundation.min.js"></script>
  	<script src="js/controller.js"></script>
    <div>
    	<div class="row">
    		<div class="large-3 columns">
          <h5>Account Details</h5>
    		</div>
        <div class="large-3 columns">
            <b>Account Currency:</b> {{account.accountCurrency}}
        </div>
        <div class="large-3 columns">
            <b>Account ID:</b> {{account.accountId}}
        </div>
        <div class="large-3 columns">
            <b>Margin Rate:</b> {{account.marginRate}}
        </div>    
    	</div>	
      <div class="row" style="margin-top: 5vh">
        <div class="large-3 columns">
          <h4>Candle Options</h4>
          <label>Instruments
            <select ng-options="instrument.instrument as instrument.displayName for instrument in instruments | orderBy: instrument.displayName" ng-model="selectedInstrument">
            </select>
          </label>
          <label>Granularities
            <select ng-options="granularity.value as granularity.description for granularity in granularities" ng-model="selectedGranularity">
            </select>
          </label>
          <label>Candle Count
            <input type="number" min=0 max=5000 ng-model="candleCount">
          </label>
          <button type="button" class="primary button expanded" ng-click="getCandles()" ng-if="selectedInstrument != null && selectedGranularity != null && candleCount > 0">Get Candlesticks</button>
        </div>
        <div class="large-9 columns">
          <div ng-show="loading">
            <h1>Loading...</h1>
          </div>
          <div ng-show="candlesticks.length > 0 && !loading">
            <h4>Candlesticks</h4>
            <span> Show Bid: <input type="checkBox" ng-model="showBid">  Show Ask: <input type="checkBox" ng-model="showAsk"></span>
            <table style="width: 100%" hidden>
              <thead>
                <tr>
                  <th>Timestamp</th>
                  <th ng-if="showBid">Open Bid</th>
                  <th ng-if="showAsk">Open Ask</th>
                  <th ng-if="showBid">High Bid</th>
                  <th ng-if="showAsk">High Ask</th>
                  <th ng-if="showBid">Low Bid</th>
                  <th ng-if="showAsk">Low Ask</th>
                  <th ng-if="showBid">Close Bid</th>
                  <th ng-if="showAsk">Close Ask</th>
                  <th>Volume</th>
                </tr>
              </thead>
              <tbody ng-repeat="c in candlesticks  | orderBy : c.time : true">
                <tr>
                  <td>{{c.time | date : 'M/d/yy h:mm:ss a'}}</td>
                  <td ng-if="showBid">{{c.openBid}}</td>
                  <td ng-if="showAsk">{{c.openAsk}}</td>
                  <td ng-if="showBid">{{c.highBid}}</td>
                  <td ng-if="showAsk">{{c.highAsk}}</td>
                  <td ng-if="showBid">{{c.lowBid}}</td>
                  <td ng-if="showAsk">{{c.lowAsk}}</td>
                  <td ng-if="showBid">{{c.closeBid}}</td>
                  <td ng-if="showAsk">{{c.closeAsk}}</td>
                  <td>{{c.volume}}</td>
                </tr>
              </tbody>
            </table>
            <div id="chartContainer" style="margin: 0px; padding: 0px; height: 300px; width: 100%;">
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
    	$(document).foundation();
    </script>
  </body>
</html>